<head>
    <title>D7 Site Analysis</title>
    <link rel="stylesheet" href="./assets/css/styles.css"/>
    <div id="curtain">
        <div id="loader">
            <img src="./assets/images/loading.gif"/>
        </div>
    </div>
    <script type="text/javascript" src="./assets/scripts/curtain.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,700;1,6..12,700;1,6..12,900&display=swap" rel="stylesheet">
</head>
<header>
    <h1 id="page-title">D7 Site Analysis</h1>
    <ul id="navigation">
        <li class="menu-item"><a href="#tts">Templates</a></li>
        <li class="menu-item"><a href="#codesniffs">PHPCS</a></li>
        <li class="menu-item"><a href="#modules">Custom Modules</a></li>
    </ul>
</header>